body {
    background: #52494f;
   }
   .bl1{
    background: #8c8489;
    width: 400px;
    height: 700px;
    border-radius: 15px;
    opacity: 70%;
    margin: auto;
   }
   h1 {
    color: #5c4857;
    font-size: 35px;
    font-family: 'Georgia, serif';
    text-align: center;
   }
   input {
    margin: 7px;
   }
   .input {
    font-family: 'Georgia, serif';
    font-size: 17px;
   }